// Place all the styles related to the Log controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#check, #cross {
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  &:hover {
    background-color: #efefef;
  }
}


